<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">
        <img class="responsive-img" [src]="logoSrc" alt="Logo" />
      </a>
      <a href="#" data-target="sidenav-options" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#" routerLinkActive="active">Produtos</a></li>
        <li><a href="#" routerLinkActive="active">Fornecedores</a></li>
        <li><a href="#" routerLinkActive="active">Relatórios</a></li>
        <li>
          <a
            data-target="dropdown-user"
            href="#"
            class="dropdown-trigger"
            title="Colocar informações do usuário"
            #dropdown
          >
            <img
              src="http://materializecss.com/images/yuna.jpg"
              alt=""
              class="circle"
            />
          </a>
        </li>
        <li>
          <a title="Sair" href="#!"
            ><i class="material-icons">exit_to_app</i></a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>

<ul id="sidenav-options" class="sidenav sidenav-close" #sidenav>
  <li>
    <div class="user-view center-align">
      <div class="background">
      </div>
      <a href="#user"
        ><img class="circle auto-margin" src="http://materializecss.com/images/yuna.jpg"
      /></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email">
        <span class="white-text email">jdandturk@gmail.com</span>
      </a>
    </div>
  </li>
  <li><a class="waves-effect" href="#" routerLinkActive="active">Produtos</a></li>
  <li><a class="waves-effect" href="#" routerLinkActive="active">Fornecedores</a></li>
  <li><a class="waves-effect" href="#" routerLinkActive="active">Relatórios</a></li>
  <li><a class="waves-effect" href="#" routerLinkActive="active">Sair</a></li>
</ul>
