<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">
        <img class="responsive-img" [src]="logoSrc" alt="Logo" />
      </a>
      <a href="#" data-target="side-navbar" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#" routerLinkActive="active">Produtos</a></li>
        <li><a href="#" routerLinkActive="active">Fornecedores</a></li>
        <li><a href="#" routerLinkActive="active">Relatórios</a></li>
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="side-navbar">
  <li><a href="#" routerLinkActive="active">Produtos</a></li>
  <li><a href="#" routerLinkActive="active">Fornecedores</a></li>
  <li><a href="#" routerLinkActive="active">Relatórios</a></li>
</ul>