nav {
  border-radius: 6px;
  width: 90%;
  margin: 2% 5% 2.5% 5%;
  background-color: #cc285c;

  img {
    height: 50px;
    padding-top: 10px;
  }

  ul {
    height: 100%;

    li {
      height: 100%;

      a {
        height: 100% !important;
      }
    }
  }
}


ul.sidenav {
  background-color: #191616e0;
  width: 200px;

  .user-view {
    .background {
      background-color: #cc285cc9;
    }

    .auto-margin {
      margin: auto;
    }
  }

  li > a {
    color: white !important;
  }

}

header {
  position: fixed;
  top: 0;
  background-color: #252525;
  height: 2.5rem;
  width: 100%;
  z-index: 100;
}
