/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&family=Galada&display=swap");

body {
  background-color: #252525;
  font-family: "Galada", cursive;
}

img.avatar {
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
}

.crud-table {
  .table-header {
    h5 {
      font-weight: 600;
    }
    span {
      float: right;
    }
  }
}

:host ::ng-deep {
  .p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }
}

@media screen and (max-width: 40rem) {
  :host ::ng-deep {
    .p-datatable {
      &.p-datatable-responsive-demo {
        .p-datatable-thead > tr > th,
        .p-datatable-tfoot > tr > td {
          display: none !important;
        }

        .p-datatable-tbody > tr > td {
          text-align: left;
          display: block;
          width: 100%;
          float: left;
          clear: left;
          border: 0 none;

          .p-column-title {
            padding: 0.4rem;
            min-width: 30%;
            display: inline-block;
            margin: -0.4em 1em -0.4em -0.4rem;
            font-weight: bold;
          }

          &:last-child {
            border-bottom: 1px solid var(--surface-d);
          }
        }
      }
    }
  }
}

.card {
  background: var(--surface-e) !important;
  padding: 1rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 2rem;
}

.p-dataview-loading-icon.pi.pi-spin.pi-spinner {
  color: #FFF;
}

.p-dataview-emptymessage {
  text-align: center;
  font-weight: bold;
  color: #FFF;
  font-size: 1.5rem;
}
